body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
}

#color-box {
    width: 200px;
    height: 200px;
    margin: 20px;
    transition: background-color 0.5s;
}